In [1]:
# Preprocessing reddit data for sentiment analysis (Capstone 1)
# import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
# from library.sb_utils import save_file

red = pd.read_csv('Reddit_data.csv')

In [2]:
print(red)

                                           clean_comment  category
0       family mormon have never tried explain them t...         1
1      buddhism has very much lot compatible with chr...         1
2      seriously don say thing first all they won get...        -1
3      what you have learned yours and only yours wha...         0
4      for your own benefit you may want read living ...         1
...                                                  ...       ...
37244                                              jesus         0
37245  kya bhai pure saal chutiya banaya modi aur jab...         1
37246              downvote karna tha par upvote hogaya          0
37247                                         haha nice          1
37248             facebook itself now working bjp’ cell          0

[37249 rows x 2 columns]

In [3]:
red.info

<bound method DataFrame.info of                                            clean_comment  category
0       family mormon have never tried explain them t...         1
1      buddhism has very much lot compatible with chr...         1
2      seriously don say thing first all they won get...        -1
3      what you have learned yours and only yours wha...         0
4      for your own benefit you may want read living ...         1
...                                                  ...       ...
37244                                              jesus         0
37245  kya bhai pure saal chutiya banaya modi aur jab...         1
37246              downvote karna tha par upvote hogaya          0
37247                                         haha nice          1
37248             facebook itself now working bjp’ cell          0

[37249 rows x 2 columns]>

In [4]:
# number of missing values by column
missing = pd.concat([red.isnull().sum(), 100 * red.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='count')

               count         %
category           0  0.000000
clean_comment    100  0.268464

In [ ]:
# So we have 100 empty values for the comment column. Good to know.